html {
  padding: 50px 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: radial-gradient(
          100% 400% at 100% 50%,
          #ddd 0%,
          rgb(126, 0, 170) 50%,
          rgb(0, 35, 162) 100%
  ) right 0% / 400% 100% no-repeat;
}

#app {
  background: white;
  padding: 20px 30px;
  border-radius: 15px;
  width: 620px;
  margin: 0 auto;
  text-align: center;
}
